<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{fragments/main_layout}">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="container spacer">

    <form th:action="@{/response}" th:object="${responseDTO}" method="post">

        <input type="hidden" th:value="${advertisementDTO.id}" th:name="advertisementId">

        <div class="form-group">
            <label class="form-control-label" th:text="${advertisementDTO.title}"></label>
        </div>

        <div class="form-group">
            <p th:text="${advertisementDTO.description}"></p>
        </div>

        <div class="form-group">
            <label for="response" class="form-control-label">Response</label>
            <textarea class="form-control" th:field="*{response}" id="response"></textarea>
            <div class="text text-danger" th:if="${#fields.hasErrors('response')}" th:errors="*{response}"></div>
        </div>

        <input type="submit" th:value="Respond" class="btn btn-primary"/>
    </form>

</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>