<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="container spacer">
    <form action="/users" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="name" placeholder="Search Advertisement"/>
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date Created</th>
                    <th>Open</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="advertisementDTO:${advertisements}">
                    <td th:text="${advertisementDTO.type}"></td>
                    <td th:text="${advertisementDTO.title}"></td>
                    <td th:text="${advertisementDTO.author}"></td>
                    <td th:text="${advertisementDTO.dateCreated}"></td>
                    <td><a th:href="@{/advertisements(id=${advertisementDTO.id})}" class="btn btn-primary">Open</a></td>
                    <td>
                        <form th:action="@{/advertisements}" th:object="${advertisementDTO}" th:method="delete">
                            <input type="hidden" th:name="id" th:value="${advertisementDTO.id}"/>
                            <button type="submit" id="submitButton" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete this item?');">X</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>