<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{fragments/main_layout}">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="container spacer">
    <form th:action="@{/login}" method="post">

        <div class="alert alert-danger" th:if="${param.error}">
            <h2>Invalid credentials</h2>
        </div>

        <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="text" class="form-control" id="email" name="username"/>
        </div>

        <div class="form-group">
            <label for="password" class="form-control-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"/>
        </div>

        <input type="submit" th:value="Submit" class="btn btn-primary"/>
    </form>
</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>