<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/main_layout}">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="container spacer">
    <form th:action="@{/newadv}" th:object="${advertisementDTO}" method="post">

        <div class="form-group">
            <label for="title" class="form-control-label">Title</label>
            <input type="text" class="form-control" th:field="*{title}" id="title"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div class="form-group">
            <label for="description" class="form-control-label">Description</label>
            <textarea class="form-control" th:field="*{description}" id="description"></textarea>
            <div class="text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="type" id="optionsRadios1" value="buy" th:checked="true" th:field="*{type}">BUY
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" id="optionsRadios2" value="sell" th:field="*{type}">SELL
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="cost" class="form-control-label">Cost</label>
            <input type="text" class="form-control" th:field="*{cost}" id="cost"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></div>
        </div>

        <input type="submit" th:value="Submit" class="btn btn-primary"/>
    </form>
</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>