<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{fragments/main_layout}">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="container spacer">
    <div class="alert alert-warning" th:if="${exist}">
        <p class="text text-center">
            User with this email already exists.
        </p>
    </div>
    <form th:action="@{/register}" th:object="${userDTO}" method="post">

        <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="text" class="form-control" th:field="*{email}" id="email"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
            <label for="name" class="form-control-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="type" id="optionsRadios1" value="USER" th:checked="true" th:field="*{role}">USER
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" id="optionsRadios2" value="ADMIN" th:field="*{role}">ADMIN
                </label>
            </div>
            <div class="text text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
        </div>

        <input type="submit" th:value="Submit" class="btn btn-primary"/>
    </form>
</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>