<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/main_layout}">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" href="../static/css/darkly/bootstrap.min.css" th:href="@{css/darkly/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div class="container spacer">
    <form action="/users" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="name" placeholder="Search User"/>
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Date Created</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userDTO:${users}">
                    <td th:text="${userDTO.name}"></td>
                    <td th:text="${userDTO.email}"></td>
                    <td th:text="${userDTO.role}"></td>
                    <td th:text="${userDTO.dateCreated}"></td>
                    <td>
                        <form th:action="@{/users}" th:object="${userDTO}" th:method="delete">
                            <input type="hidden" th:name="email" th:value="${userDTO.email}"/>
                            <button type="submit" id="submitButton" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete this user?');">X</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>